<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>EJS | Home</title>
</head>

<body>
    <%- include("header")%>
        <main>
            <h1>
                <%=title %>
            </h1>
            <p>
                <%=description%>
            </p>
        </main>
        <%- include("footer") %>
</body>

</html>